.header {
  padding: 45px 0 0;
  background: var(--color-bg-hero);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}

.header__icons {
  display: flex;
  gap: 24px;
  align-items: center;
}
