:root {
  --color-primary: #402f2c;

  --color-black: #000;
  --color-white: #ffffff;
  scroll-behavior: smooth;

  --primary-font: "Red Hat Display", sans-serif;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);

  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 20px;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;

  @media only screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media only screen and (min-width: 1280px) {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 1240px;
    padding: 0 52px;
  }
}
