:root {
  --color-primary: #402f2c;
  --color-black: #000;
  --color-white: #ffffff;
  --color-statistics-bg: #fdf8f5;
  --color-light-gray: #eee;
  --color-bg-hero: #f9f6f5;
  --color-placeholder: #999;

  scroll-behavior: smooth;
  --color-main-text: #222;

  --primary-font: "Red Hat Display", sans-serif;
}

body {
  color: var(--color-main-text);
  background-color: var(--color-white);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  overflow-x: hidden;

  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }
}

button,
a {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: block;
  text-transform: capitalize;
  border: none;
}

img {
  width: 100%;
  height: auto;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;

  @media only screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media only screen and (min-width: 1280px) {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.container {
  max-width: 375px;
  padding: 0 10px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 15px;
  }

  @media only screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 20px;
  }
}

.title {
  font-size: 36px;
  line-height: 120%;
  color: var(--color-black);
  font-weight: 500;
  text-transform: capitalize;

  @media only screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 56px;
  }
}
