.statistics {
  background: var(--color-statistics-bg);
}

.statistics__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media only screen and (min-width: 768px) {
    gap: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.statistic__item {
  text-align: center;
}

.statistics__item-number {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  width: max-content;
  border-bottom: 3px solid var(--color-links);
  margin: 0 auto 20px;
  color: var(--color-links);

  @media only screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 70px;
    margin: 0 auto 30px;
  }
}

.statistics__item-text {
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 30px;
  }
}
